{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> {{ recipe_object.title }} - P2P Recipes</title>
        <link rel="stylesheet" href="{% static "recipes.css" %}">
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <a href="/recipe-web-pages/lists.html">Main page</a>
                <a href="/recipe-web-pages/404.html">Instagram</a>
                <a href="/recipe-web-pages/404.html">Reddit</a>
                <a href="https://www.hackreactor.com" target="_blank">HackReactor</a>
            </nav>
        </header>
        <main>
            <h1> {{ recipe_object.title }} </h1>
            <img src="{{ recipe_object.picture }}" width="200">
            <div>{{ recipe_object.rating }}</div>
            <p>{{ recipe_object.description }}</p>
            <h2>Required Food Files</h2>
            <table>
                <thead>
                    <tr>
                        <th>Amount</td>
                        <th>Item</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 cup</td>
                        <td>Green beans</td>
                    </tr>
                </tbody>
                <tbody class="ingredients-table">
                    <tr>
                        <td>3 ears</td>
                        <td>Fresh corn</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>2 cups</td>
                        <td>Tomatillo salsa</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>8</td>
                        <td>corn tortillas</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>0.5 cups</td>
                        <td>Cotija cheese</td>
                    </tr>
                </tbody>
            </table>
            <h2>Order of Operations</h2>
            <ol>
                <li>Blanch the green beans</li>
                <li>Grill the green beans and the ears of corn</li>
                <li>Chop the green beans</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li>
            </ol>

        </main>
        <footer><s>Cooked</s> Coded with love by P2P Recipes</footer>
    </body>
</html>
